*/.DS_Store
.DS_Store
config/.config.php
config/.config.php.bak
404.html
index.html
public/ssr-download/
storage/trimepay_notify.log
storage/traffic_notified/
.idea
storage/qqwry.*
.vs/
.htaccess
php_errors.log
